<!-- this will use the style from partials/header -->
<%- include('partials/header') %>

<!-- "Cover" template from bootstrap -->

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner"></div>
      </div>

      <div class="inner cover">
        <!-- this will generate the currency description, currency name, and price -->
        <h1 class="cover-heading"><%= description %></h1>
        <p class="lead"><%= code %></p>
        <h1 class="cover-heading"><%= rate %></h1>
        <div class="flexbox-container">
          <div class="form-btn">
            <!-- this will allow us to get back to the home index page -->
            <form method="get" action="index">
              <button class="btn btn-lg btn-secondary">
                Back to home page
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- this will use the style from partials/footer -->
<%- include('partials/footer') %>
